*{
    margin: 0;
    padding: 0;
}

.data-storage{
    display: none;
}

.subject-menu{
    background-color: #719999;
    width: 100vw;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__btn{
    border: none;
    border-radius: 5%;
    height: 15px;
    min-width: 45px;
}

.menu__btn--active{
    background-color: #17E339;
}

.container{
    display: flex;
}