table, td, th {
    border: 1px solid black;
}
.plan {
    border-collapse: collapse;
    padding: 0px;
    opacity: 0.3;
    margin: auto;
}

.plan__20{
    position: relative;
    top: -3080px;
}

.plan__21{
    position: relative;
    top: -6160px;
}

.row td{
    height :50px;
    WIDTH :30px;
    display: inline-block;
}
